# Dependency directories
**/node_modules/
**/dist/
**/target/
**/.angular/

# IDE files
**/.idea/
**/.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Build outputs
**/build/
**/out/

# Local env files
.env
.env.local
